    body{
    background-color: #F7F8FB;
    font-family: 'Roboto', sans-serif;
    }
    .container {
    background-color: #FFFFFF;
    width: 100%;
    }
    .container-centrale{
    background-color: #fff;
    margin: auto;
    margin-top: 50px;
    width: 1200px;
    height: 800px;
    border-radius: 15px;
    }
    hr {
        border-top: 1px solid #F6F8F9;
      }
    /* header */
    
    #logo {
    height: 70px;
    vertical-align: middle;
     margin: 10px 0;
    }
    .logo-txt {
    font-weight: bolder ;
    font-size: 50px;
    vertical-align: middle;
    }

    /* main */
    /* bottoni navbar*/
    .riga-bottoni{
        margin: 10px;
        padding: 20px 80px;
    }
        button {
        border-radius: 7px;
        padding: 10px 10px;
        color: ivory;}

        #task{
        border-color: #47ADF1;
        background-color: #47ADF1;
        }
        #section{
            background-color: white;
            color: lightgrey;
            border-color: lightgrey;
            }